---
commands:
  # Required so long as EC2 instance is of type t3.micro
  00_create_swap:
    command: |
      sudo fallocate -l 2G /swapfile
      sudo chmod 600 /swapfile
      sudo mkswap /swapfile
      sudo swapon /swapfile
  01_install_R:
    command: sudo yum install -y R
  02_install_R_packages:
    command: |
      sudo R -e 'install.packages(c("devtools","ggplot2","dplyr"), repos="https://cran.r-project.org")'
      sudo R -e 'devtools::install_github("dzhang32/ggtranscript")'
