---
option_settings:
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 3600
commands:
  00_create_swap:
    command: |
      sudo fallocate -l 2G /swapfile
      sudo chmod 600 /swapfile
      sudo mkswap /swapfile
      sudo swapon /swapfile
  01_install_R:
    command: >
      sudo yum install -y R openssl-devel libcurl-devel fribidi-devel
      freetype-devel libpng-devel libtiff-devel libjpeg-devel
  02_install_devtools:
    command: |
      sudo R -e 'install.packages("devtools", repos="https://cran.r-project.org")'
  03_install_ggplot2:
    command: |
      sudo R -e 'install.packages("ggplot2", repos="https://cran.r-project.org")'
  04_install_dplyr:
    command: |
      sudo R -e 'install.packages("dplyr", repos="https://cran.r-project.org")'
  05_install_ggtranscript:
    command: |
      sudo R -e 'install.packages("BiocManager", repos="https://cran.r-project.org")'
      sudo R -e 'BiocManager::install(c("GenomicRanges","S4Vectors","GenomeInfoDb"), ask=FALSE)'
      sudo R -e 'devtools::install_github("dzhang32/ggtranscript")'
