{% extends 'base.html' %}

{% block content %}

<div class="container-fluid d-flex justify-content-left" style="min-height: calc(100vh - 100px);">
    <form method="POST" action="">
        
        <!-- ADD THIS TAG IN HTML FORMS WITH POST REQUESTS -->
        {% csrf_token %}
        
        <div class="form-group">
            <label for="exampleInputEmail1">Enter gene symbol name:</label>
            <input name="genename" type="text" class="form-control my-2" placeholder="APP" style="width: 400px;">
        </div>
        
        <button type="submit" class="btn btn-primary mt-2">Search gene</button>

        {% if error_message %}
            <p class="alert alert-danger">{{ error_message }}</p>
        {% endif %}
    </form>
</div>

{% endblock %}